@import '01_reset', '02_variable';

footer {
    @include setNavBar;

    .footer-container {
        @include navBarContainer;
        p {
            color: $grey;
            font-size: 0.875rem;
            font-weight: 300;
        }
    }


}