* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
}

input {
    outline: none;
}

.todo-list li{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}