@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
    --white: #f2f2f2;
    --white-text: hsla(0, 0%, 100%, 0.75);
    --orange: #e28525;
    --light-green: #016972;
    --dark-green: #00403f;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 15px;
}

main {
    width: 920px;
    height: 500px;
    display: flex;
    border-radius: 10px;
}

.sedans,
.suvs,
.luxury {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    color: var(--white);
}

.sedans {
    background: var(--orange);
    border-radius: 10px 0 0 10px;
}

.suvs {
    background: var(--light-green);
}

.luxury {
    background: var(--dark-green);
    border-radius: 0 10px 10px 0;
}

.sedans h1,
.suvs h1,
.luxury h1 {
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 45px;
    margin-bottom: 40px;
    text-transform: uppercase;
    
}

.sedans p,
.suvs p,
.luxury p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--white-text);
    margin-bottom: 70px;
    line-height: 25px;
}

.sedans button,
.suvs button,
.luxury button {
    border: none;
    background: var(--white);
    font-family: 'Lexend Deca', sans-serif;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

.sedans button:hover,
.suvs button:hover,
.luxury button:hover {
    color: var(--white);
    border: 2px solid var(--white);
}

.sedans button {
    color: var(--orange);
}

.sedans button:hover{
    background: var(--orange);

}

.suvs button {
    color: var(--light-green);
}

.suvs button:hover{
    background: var(--light-green);
}

.luxury button {
    color: var(--dark-green);
}

.luxury button:hover{
    background: var(--dark-green);
}



.attribution { 
    position: absolute;
    font-size: 11px; 
    text-align: center; 
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 375px){
    body {
        height: 1500px;
    }
    
    main {
        width: 330px;
        height: 1330px;
        flex-wrap: wrap;
    }

    .sedans,
    .suvs,
    .luxury {
        height: 445px;
        padding: 50px;
    }

    .sedans {
        border-radius: 10px 10px 0 0;
    }

    .luxury {
        border-radius: 0 0 10px 10px;
    }
    .sedans h1,
    .suvs h1,
    .luxury h1  {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 2em;
    }
    .sedans p,
    .suvs p,
    .luxury p{
        margin-bottom: 30px;
        line-height: 25px;
    }

    .sedans button,
    .suvs button,
    .luxury button {
        margin-bottom: -10px;
}

    .attribution {
        bottom: -450px;
    }
}
