* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: orange;
    display: flex;


}